<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gym Locator</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/about.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="/">Gym Tracker</a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item p-2">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item p-2">
              <a class="nav-link" href="/signup">Sign Up</a>
            </li>
            <li class="nav-item p-2">
              <a
                class="nav-link"
                href="/history"
                tabindex="-1"
                aria-disabled="true"
                >Search History</a
              >
            </li>
            <li class="nav-item p-2">
              <a
                class="nav-link"
                href="/about"
                tabindex="-2"
                aria-disabled="true"
                >About Us</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid text-center mt-3">
      <h1 class="maintext">Meet the developers!</h1>
    </div>

    <div class="container">
      <div class="developer-card">
        <h1 class="text-center">Ray Lu</h1>
        <p>Role: Front-end Developer</p>
        <p>Languages/Tools: HTML5, CSS, Bootstrap, Jinja</p>
        <div class="media-box">
          <div class="img-box">
            <a href="https://www.linkedin.com/in/lu-ray/"><img src="./images/github-logo.png" alt="" /></a>
          </div>

          <div class="img-box">
            <a href="https://github.com/raylu511"><img src="./images/linkedin-logo.png" alt="" /></a>
          </div>

          <div class="img-box">
            <a href="mailto: raylu511@gmail.com"><img src="./images/email-logo.png" alt="" /></a>
          </div>
        </div>
      </div>
      <div class="developer-card">
        <h1 class="text-center">Derek Li</h1>
        <p>Role: Back-end Developer</p>
        <p>Languages/Tools: Python, Flask, Jinja, PostgreSQL</p>
        <div class="media-box">
          <div class="img-box">
            <a href="https://www.linkedin.com/in/derek-li-b66a23113/"><img src="./images/linkedin-logo.png" alt="" /></a>
          </div>

          <div class="img-box">
            <a href="https://github.com/DLiSWE"><img src="./images/github-logo.png" alt="" /></a>
          </div>

          <div class="img-box">
            <a href="mailto: derekli11204@gmail.com"><img src="./images/email-logo.png" alt="" /></a>
          </div>
        </div>
      </div>
      
    </div>

    <!-- Footer -->
    <footer class="footer-container"></footer>

    <script src="script.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
